<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
  <h4 id="">Mantenimiento de Establecimiento</h4>
  <br>
  <form [formGroup]="frm1">
    <div class="row">
      <div class="col-md-12" style="text-align: right">
        <button type="button"  style="margin-left: 10px;" (click)="buscar()" class="btn btn-primary">Buscar</button>
        <button type="button"  style="margin-left: 10px;" (click)="nuevo()" class="btn btn-success">Nuevo</button>
      </div>
    </div>
  </form>
</div>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Departamento</th>
    <th scope="col">Provincia</th>
    <th scope="col">Distrito</th>
    <th scope="col">Tipo</th>
    <th scope="col">N° RUC</th>
    <th scope="col">Nombre del Establecimiento</th>
    <th scope="col">Direcci&oacute;n del Establecimiento</th>
    <th scope="col">Contacto</th>
    <th scope="col">Email</th>
    <th scope="col">Estado</th>
    <th scope="col" colspan="3" style="width: 60px; text-align: center;"> Opciones</th>
  </tr>
  </thead>
  <tbody>
    @for (establishment of establishments; track establishment.cestablishment) {
      <tr>
        <td>{{establishment.cestablishment}}</td>
        <td>{{establishment.cubigeo.departamento}}</td>
        <td>{{establishment.cubigeo.provincia}}</td>
        <td>{{establishment.cubigeo.distrito}}</td>
        <td>{{establishment.type.name}}</td>
        <td>{{establishment.nruc}}</td>
        <td>{{establishment.name}}</td>
        <td>{{establishment.address}}</td>
        <td>{{establishment.phone}}</td>
        <td>{{establishment.email}}</td>
        <td>{{ establishment.state=='1' ? 'Con Autorizaci&oacute;n' : 'Sin Autorizaci&oacute;n' }}</td>
        <td>
          <button type="button" (click)="modificar(establishment)"  class="btn btn-secondary">Modificar</button>
        </td>
        <td>
          <button type="button" (click)="eliminar(establishment)"  class="btn btn-warning">Eliminar</button>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
  Total registros:
  </tfoot>
</table>
