<nav class="navbar navbar-expand-lg A0">
  <div class="container-fluid A1">
    <div class="col-lg-2 text-lg-left"><img class="img-fluid" src="../images/logoGOB-PE.png" width="120px"></div>
    <div class="col-lg-5 text-white A2">Dirección General de Autorizaciones <br>en Transportes</div>
    <div class="col-lg-5 text-white A2">
      <ul class="nav nav-pills">
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a routerLink="mantenimiento/establecimiento/inicio" class="nav-link" href="#">Registro</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a (click)="logout()" class="nav-link" href="#">Cerrar Sesi&oacute;n</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a routerLink="licenciaConducir/consulta/1" class="nav-link" href="#">Centros M&eacute;dicos</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a routerLink="licenciaConducir/consulta/2" class="nav-link" href="#">Escuela de Conductores</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a routerLink="licenciaConducir/consulta/3" class="nav-link" href="#">Centros de Evaluaci&oacute;n</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a routerLink="users/login" class="nav-link" href="#">Iniciar Sesi&oacute;n</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
<div class="container overflow-auto">
  <router-outlet />
</div>
