<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
  <a routerLink="establecimiento" class="navbar-brand" href="#">Licencias de conducir</a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="establecimiento/establecimiento/mantenimiento" class="nav-link" href="#">Registro</a>
    </li>
    <li class="nav-item">
      <a routerLink="establecimiento/establecimiento/consulta/1" class="nav-link" href="#">Centros M&eacute;dicos</a>
    </li>
    <li class="nav-item">
      <a routerLink="establecimiento/establecimiento/consulta/2" class="nav-link" href="#">Escuela de Conductores</a>
    </li>
    <li class="nav-item">
      <a routerLink="establecimiento/establecimiento/consulta/3" class="nav-link" href="#">Centros de Evaluaci&oacute;n</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet />
</div>
