<form [formGroup]="frm1" (ngSubmit)="onSubmit()">
  <div class="mb-3">
      <label for="departamento" class="form-label">Departamento</label>
      <select #cdep class="form-select" (change)="getProvince(cdep.value)">
        <option value="">Seleccione...</option>
        @for (department of departments; track department.cDepartamento) {
          <option value="{{department.cDepartamento}}">{{department.departamento}}</option>
        }
      </select>
  </div>
  <div class="mb-3">
    <label for="provincia" class="form-label">Provincia</label>
    <select #cprov class="form-select" (change)="getDistrict(cdep.value,cprov.value)">
      <option value="">Seleccione...</option>
      @for (province of provinces; track province.cprovincia) {
        <option value="{{province.cprovincia}}">{{province.provincia}}</option>
      }
    </select>
  </div>
  <div class="mb-3">
    <label for="cubigeo" class="form-label">Distrito</label>
    <select formControlName="cubigeo" class="form-select">
      <option value="">Seleccione...</option>
      @for (district of districts; track district.cubigeo) {
        <option value="{{district.cubigeo}}">{{district.distrito}}</option>
      }
    </select>
  </div>
  <div class="mb-3">
    <label for="nruc" class="form-label">Ruc</label>
    <input type="text" formControlName="nruc" class="form-control" id="nruc">
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Tipo</label>
    <select id="type" formControlName="type" class="form-select">
      <option value="">Seleccione...</option>
      @for (type of types; track type.id) {
        <option value="{{type.id}}">{{ type.name }}</option>
      }
    </select>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" formControlName="name" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Direcci&oacute;n</label>
    <input type="text" formControlName="address" class="form-control" id="address">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" formControlName="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Tel&eacute;fono</label>
    <input type="text" formControlName="phone" class="form-control" id="phone">
  </div>
  <div class="mb-3">
    <label for="state" class="form-label">Situaci&oacute;n</label>
    <select id="state" formControlName="state" class="form-select">
      <option value="" selected>Seleccione...</option>
      <option value="1">Con Autorizaci&oacute;n</option>
      <option value="2">Sin Autorizaci&oacute;n</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" style="margin-left: 10px;" (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
</form>
